*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: #E5E5E5;
    
    .content {
        max-width: 1280px;
        width: 100%;
        margin: auto auto;
        background-color: white;;

        //header

        @import "../templates/_header/_header.scss";

        //main

        @import "../templates/_main/_main.scss";

        //footer

        @import "../templates/_footer/_footer.scss";
    }

}