@media screen and (max-width: 992px) {
    .header {
        .wrapper {
            margin-bottom: 20px;
            .links{
                margin: 52px auto;

                .links_a {
                    margin-right: 50px;
        }

            
}

            .wrapper_p {
                font-size: 18px;
                margin-top: 50px;
                }
            }

        .header_h1 {
            margin-bottom: 30px;
        }
      
        }
    }


@media screen and (max-width: 768px) , (max-width:914px) {
    .header {
        .wrapper {
            margin-bottom: 20px;
            .links{
                margin: 52px auto;

                .links_a {
                    margin-right: 50px;
        }

            
}}}
    


            .wrapper_p {
                display: none;
            }    
}

@media screen and (max-width: 576px) {

    .header {
        .wrapper {
            margin-bottom: 0px;

            .wrapper_img {
                margin-top: 0px;
            }
            .links {
                margin-bottom: 0px;
                margin-top: 25px;
                .links_a {
                    margin-right: 20px;
                }
                }
        }

        .header_h1 {
        font-size: 24px;
        margin-bottom: 0px;
    }
}}

@media screen and (max-width: 480px) {
    .header {
        .wrapper {
            
            .wrapper_img {
                margin-top: 15px;
                width: 50px;
                height: 50px;
            }
            .links {
                .links_a {
                    margin-right: 15px;
                }
                }
        }

        .header_h1 {
        font-size: 20px;
        margin-bottom: 0px;
    }
}}


@media screen and (max-width: 320px) {
    .header {
        .wrapper {
            
            .wrapper_img {
                margin-top: 15px;
                width: 50px;
                height: 50px;
            }
            .links {
                margin-left: 10px;
                .links_a {
                    margin-right: 10px;
                    font-size: 12px;
                }
                }
        }

        .header_h1 {
        font-size: 18px;
        margin-bottom: 0px;
    }
}}



    