header.header
    div.wrapper
        img(src="D:/mine/T-Task/app/img/Vector.png").wrapper_img
        div.links
            a(href="#").links_a <b>Main</b>
            a(href="#").links_a <b>Gallery</b>
            a(href="#").links_a <b>News</b>
            a(href="#").links_a <b>Profile</b>
        p(align="right").wrapper_p <b>+544 3490 00000</b> <br>
            span Звони скорее!
       
    h1(align="left").header_h1 <b>Найдено 349 котов</b>