div.footer
    div.wrap 
        div.block1
            span Успей купить
            p Подпишись и успей <br> словить все акции

        div.block2
            form
                input.email(type="text" value="Email")
                button Подписаться
                input.checkbox(type="checkbox")