div.main
    div.sort
        span.sort_sortBy <b>Сортировать по:</b>
        span.sort_par Цене
        span.sort_par Возрасту

    div(align="center").cards
            
        mixin cardsList(src, title, h4, button1, button2, url)
            div.card&attributes(attributes)
                img(src=src)
                h5(align="left")= title
                div.info
                    if block
                        block

                    else 
                        p -
                h4(align="left")= h4
                button.card_button= button1
            

        +cardsList( "D:/mine/T-Task/app/img/1.png", "Кот полосатый", "25000 руб.", "Купить", "app/img/-40%.png")
            p(id="25") Коричнеый <br> окрас
            p <span> 2 мес.</span><br> Возраст 
            p <span><b> 4</b></span> <br> Кол-во лапок

        +cardsList("D:/mine/T-Task/app/img/2.png", "Кот полосатый", "40000 руб.", "Продан")
            p(id="40") Коричнеый <br> окрас
            p <span> 2 мес.</span><br> Возраст 
            p <span><b> 4</b></span> <br> Кол-во лапок

        +cardsList("D:/mine/T-Task/app/img/3.png", "Кот полосатый", "20000 руб.", "Купить")
            p(id="20") Коричнеый <br> окрас
            p <span> 2 мес.</span><br> Возраст 
            p <span><b> 4</b></span> <br> Кол-во лапок

        +cardsList("D:/mine/T-Task/app/img/4.png", "Кот полосатый", "25000 руб.", "Купить")
            p(id="25") Коричнеый <br> окрас
            p <span> 2 мес.</span><br> Возраст 
            p <span><b> 4</b></span> <br> Кол-во лапок
        
        +cardsList("D:/mine/T-Task/app/img/5.png", "Кот полосатый", "30000 руб.", "Купить")
            p(id="30") Коричнеый <br> окрас
            p <span> 2 мес.</span><br> Возраст 
            p <span><b> 4</b></span> <br> Кол-во лапок

        +cardsList("D:/mine/T-Task/app/img/6.png", "Кот полосатый", "10000 руб.", "Продан")
            p(id="10") Коричнеый <br> окрас
            p <span> 2 мес.</span><br> Возраст 
            p <span><b> 4</b></span> <br> Кол-во лапок


    button.main_button Показать еще 20


                
