<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no" )
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap" rel="stylesheet")
        link(href="diststyles.css" rel="stylesheet")
        title T-Task
    body
        div.content

            //header
            include ../templates/_header/_header.pug

            //main
            include ../templates/_main/_main.pug

            //footer
            include ../templates/_footer/_footer.pug

        script(src="app/js/scripts.js")
